bootstrap/examples/n8n-matrix-create-rooms-and-ping.json
{
  "name": "RALF Matrix - Create Rooms and Ping",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "matrix_base_url",
              "value": "https://matrix.otta.zone"
            },
            {
              "name": "login_user",
              "value": "ralf"
            },
            {
              "name": "login_password",
              "value": "NfbNOM5ynAiVj8Gdd1nrNmd6vwHwBk4u"
            },
            {
              "name": "invite_user_id",
              "value": "@kolja:otta.zone"
            }
          ]
        }
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.matrix_base_url}}/_matrix/client/v3/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"m.login.password\",\n  \"identifier\": {\n    \"type\": \"m.id.user\",\n    \"user\": $json.login_user\n  },\n  \"password\": $json.login_password\n}",
        "options": {}
      },
      "id": "login",
      "name": "Matrix Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const login = $json;\nconst cfg = $items('Config', 0, 0)[0].json;\n\nif (!login.access_token) {\n  throw new Error('Matrix login failed: missing access_token');\n}\n\nconst rooms = [\n  { name: 'RALF Ops', topic: 'Betrieb / Deployments / Wartung' },\n  { name: 'RALF Alerts', topic: 'Automatisierte Alarme und Smokes' },\n  { name: 'RALF Test', topic: 'Testnachrichten und Experimente' },\n];\n\nconst headers = {\n  Authorization: `Bearer ${login.access_token}`,\n  'Content-Type': 'application/json',\n};\n\nconst results = [];\nfor (const room of rooms) {\n  const createRes = await fetch(`${cfg.matrix_base_url}/_matrix/client/v3/createRoom`, {\n    method: 'POST',\n    headers,\n    body: JSON.stringify({\n      name: room.name,\n      topic: room.topic,\n      preset: 'private_chat',\n      invite: [cfg.invite_user_id],\n    }),\n  });\n\n  const createJson = await createRes.json().catch(() => ({}));\n  if (!createRes.ok) {\n    results.push({ room_name: room.name, status: 'create_failed', response: createJson });\n    continue;\n  }\n\n  const eventId = `${Date.now()}-${Math.floor(Math.random() * 100000)}`;\n  const pingRes = await fetch(`${cfg.matrix_base_url}/_matrix/client/v3/rooms/${encodeURIComponent(createJson.room_id)}/send/m.room.message/${eventId}`, {\n    method: 'PUT',\n    headers,\n    body: JSON.stringify({ msgtype: 'm.text', body: 'ping (n8n / RALF bootstrap test)' }),\n  });\n  const pingJson = await pingRes.json().catch(() => ({}));\n\n  results.push({\n    room_name: room.name,\n    room_id: createJson.room_id,\n    create_ok: true,\n    ping_ok: pingRes.ok,\n    ping_response: pingJson,\n  });\n}\n\nreturn [{ json: { homeserver: cfg.matrix_base_url, actor: '@ralf:otta.zone', created_rooms: results, note: 'RALF hat die Raeume erstellt und einen ping gesendet.' } }];"
      },
      "id": "create-rooms-and-ping",
      "name": "Create Rooms + Ping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Matrix Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix Login": {
      "main": [
        [
          {
            "node": "Create Rooms + Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ralf-matrix-rooms-ping-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
